
<div class="row">
    <h3>Это тестовая страница!</h3>
    <div class="col-lg-12">
        <form method="get" action="/test">
            <select class="form-control" name="po">
                <option value="1">Есть подарки</option>
                <option value="0">Нет подарки</option>
            </select>
            <select class="form-control" name="dis">
                <option value="0">Близко идти</option>
                <option value="1">Далеко</option>
            </select>
            <select class="form-control" name="happy">
                <option value="0">Весело</option>
                <option value="1">Скучно</option>
            </select>
            <button class="btn btn-block btn-success" type="submit">Пойти ли мне на вечеринку</button>
        </form>
    </div>
</div>
